.employees
  .container
    .employees_wrapper
      .employee(data-aos="fade-up" data-aos-delay="200" data-aos-easing="ease")
        img(src="./assets/1.gif")
        .employee_name Jeremy Leslie
        .employee_title Founder and Creative Director of magCulture
        .employee_more Read More
      .employee(data-aos="fade-up" data-aos-delay="200" data-aos-easing="ease")
        img(src="./assets/2.gif")
        .employee_name Kai Brach
        .employee_title Founder of Offscreen Magazine
        .employee_more Read More
      .employee(data-aos="fade-up" data-aos-delay="200" data-aos-easing="ease")
        img(src="./assets/3.gif")
        .employee_name Ayu Chuepa
        .employee_title Founder of Akha Ama Coffee
        .employee_more Read More
      .employee(data-aos="fade-up" data-aos-delay="200" data-aos-easing="ease")
        img(src="./assets/4.jpg")
        .employee_name Ayu Chuepa
        .employee_title Founder of Akha Ama Coffee
        .employee_more Read More
      .employee(data-aos="fade-up" data-aos-delay="200" data-aos-easing="ease")
        img(src="./assets/5.jpg")
        .employee_name Ayu Chuepa
        .employee_title Founder of Akha Ama Coffee
        .employee_more Read More
      .employee(data-aos="fade-up" data-aos-delay="200" data-aos-easing="ease")
        img(src="./assets/6.jpg")
        .employee_name Ayu Chuepa
        .employee_title Founder of Akha Ama Coffee
        .employee_more Read More
      .employee(data-aos="fade-up" data-aos-delay="200" data-aos-easing="ease")
        img(src="./assets/7.jpg")
        .employee_name Ayu Chuepa
        .employee_title Founder of Akha Ama Coffee
        .employee_more Read More
      .employee(data-aos="fade-up" data-aos-delay="200" data-aos-easing="ease")
        img(src="./assets/8.jpg")
        .employee_name Ayu Chuepa
        .employee_title Founder of Akha Ama Coffee
        .employee_more Read More
      .employee(data-aos="fade-up" data-aos-delay="200" data-aos-easing="ease")
        img(src="./assets/9.jpg")
        .employee_name Ayu Chuepa
        .employee_title Founder of Akha Ama Coffee
        .employee_more Read More
  