.Footer(data-aos="fade-up" data-aos-delay="200" data-aos-easing="ease" data-aos-duration="800")
  .container
    .Footer_wrapper
      p  Disclosure: Books Read By is reader-supported. When you buy books through links on the site, Books Read By may earn an affiliate commission that helps keep the site running smoothly.
      div
        img(src="./assets/instagram.svg")
        img(src="./assets/twitter.svg")