.hero
  .container
    .hero_wrapper
      p(data-aos="fade-up" data-aos-delay="200" data-aos-easing="ease" data-aos-offset="0") What are the world’s most interesting people reading?
      img.hero_img(src="./assets/hero.png" alt="" srcset="")