.newsletter
  .container
    .newsletter_wrapper
      img(src="./assets/newspaper.png", alt="" data-aos="fade-up" data-aos-delay="200" data-aos-easing="ease" data-aos-duration="500")
      .newsletter_title(data-aos="fade-up" data-aos-delay="200" data-aos-easing="ease" data-aos-duration="500") Discover what the world’s most interesting people are reading.
      .newsletter_desc(data-aos="fade-up" data-aos-delay="600" data-aos-easing="ease" data-aos-duration="500") Start every month on the right page with our free newsletter.
      .newsletter_footer(data-aos="fade-up" data-aos-delay="1000" data-aos-easing="ease" data-aos-duration="500")
        input(placeholder="Email Address")
        button Sign Up