html(lang='en')
  head
    title Parcel boilerplate
    link(rel="stylesheet", href="./style/main.scss")
  body
    include components/header.pug
    include components/body.pug
    include components/footer.pug